body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.filters {
  display: flex;
  background: #ffeB3b;
  height: 100%;
  top: 0;
  flex-direction: row;
  justify-content: center;
}

.filters h1 {
  align-self: center;
  font-size: .875rem;
}

.filters button {
  button: ghostwhite;
  padding: .5rem 2rem;
  margin: .25rem;
  border: none;
}
